h1{
    border: solid 0px gray;
    border-radius: 10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 500%;
    background-color:beige;
    margin: 2% 1% 0 1%;
    padding: 100px;
}
._input{
    margin: 50px 50px 50px 50px;
    font-size: 50px;
}
._console{
    margin: 2% 1% 0 1%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 110%;
    background-color: black;
    border-radius: 10px;
    color: whitesmoke;
    padding: 30px;
    height: 300px;
    overflow: scroll;
}