<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} pylab 🔥 {% endblock %}</title>
        {% block styles %}
        <link rel="stylesheet" href="../static/base.css">
        {% endblock %}
        <link rel="icon" type="" href="../static/logo.ico">
    </head>
    <body>
        <div class="_view">
            {% include "nav.html" %}
            {% block content %}
                <h1> Welcome to the pylab <markup> {{ local_ip }} </markup></h1>
            {% endblock %}
        </div>

        {% block scripts %}
        <script src="../static/base.js"></script>
        {% endblock %}
    </body>
</html>