{% extends 'base.html' %}
{% block content %}
    <style>
        ._input{
            background: {{_farbens[0]}} ;
            color: {{_farbens[1]}} ;
        }
    </style>
    <h1>{{ _current_date_time }}</h1>
    <div class="_input">
        <select id="list">
            {% if _countries %}
                {% for _x in _countries %}
                    <option value='{{_x["iso2"]}}'>{{_x["name"]}}</option>
                {% endfor %}
            {% else %}
                <option value="DE">Deutschland</option>
                <option value="MX">Mexico</option>
                <option value="US">United States of America</option>
            {% endif %}
       </select>
       <input type="button" id="_get_ip_details" value="Get Details: ">
       <div class="_color_picker">
            <input type="text" id="_color_text" value="#ffffff" >
            <input class="" type="color" id="_color_input" value="#ffffff"> 
       </div>
       
    </div>  
    <div class="_console"></div>
{% endblock %}